.footer {
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}

span.loading img{
    height: 30px;
    width: 30px;
}

.toggle-search-form {
    position: relative;
}
.btn-search-form {
    position: absolute;
    top: 10px;
    right: 5px;
}
.jaccede-field-label {
    text-decoration: underline;
    padding-top: 20px;
}
